body {
  background:rgb(116,199,244) repeat center, url(myBackground.jpg) no-repeat cover;
}
div {
  text-align:center;
}
table.center {
  margin-left:auto;
  margin-right:auto;
  width:780px;
}
h1 {
  text-align:center;
}
p {
  text-align:center;
  margin-left:300px;
  margin-right:300px;
  color:blue;
}
