div {
  text-align:center;
}
table.center {
  margin-left:auto;
  margin-right:auto;
  width:780px;
  background-image:url(myBackground.jpg);
}
h1 {
  text-align:center;
  font-family:"Georgia";
}
p {
  text-align:center;
  margin-left:300px;
  margin-right:300px;
}
