div {
  text-align:center;
}
table.center {
  margin-left:auto;
  margin-right:auto;
  width:780px;
  background-color:rgb(36, 119, 164);
}
h1 {
  text-align:center;
}
p {
  text-align:center;
  margin-left:300px;
  margin-right:300px;
}
