table.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:780;
}
h1 {
  text-align:center;
  text-decoration:underline;
}
p {
  text-align:center;
  margin-left:300px;
  margin-right:300px;
}
